* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  background-color: $white;
  color: $black;
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

#source {
  position: fixed;
  top: 4vh;
  left: 28vw;
  width: 70vw;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #CCC;

  .service {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__description {
      font-family: Arial, Helvetica, sans-serif;
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      max-width: 100%;
      margin: 0 50px 10px 0;
    }
  
    &__price {
      font-weight: bold;
      font-size: 22px;
      flex-shrink: 0;
    }
  }

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    text-align: right;
  }

  &__title {
    font-size: 22px;
    text-transform: uppercase;
  }
}

.content {
  margin: 80px 0;

  &__client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__clientName {
    font-size: 24px;
    font-weight: bold;
  }

  &__due {
    font-size: 14px;
    color: red;
    font-weight: normal;
  }
}

.form {
  position: fixed;
  top: 4vh;
  left: 2vw;
  width: 24vw;
  padding: 20px;

  h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
  }

  label {
    display: block;
    margin-bottom: 20px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $gray;
  }

  textarea {
    height: 200px;
    resize: none;
  }

  button {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-family: $default-font;
    text-transform: uppercase;
    background: $primary;
    border: 0;
    color: $white;
    cursor: pointer;
    border-radius: 3px;

    &.main-action {
      height: 50px;
    }
  }
}

.footer {
  font-weight: bold;
  text-align: center;
}

@page { margin: 0; }

@media print {
  @page { margin: 0; }
  .no-print {
    display: none;
  }
  #source {
    border:0;
    padding:0;
    margin: 1.6cm;
    top: initial;
    left: initial;
    width: auto;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1.6cm;
  }
}
