* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  background-color: $white;
  color: $black;
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

#source {
  position: fixed;
  top: 4vh;
  left: 28vw;
  width: 68vw;
  margin: 0 auto;
  padding: 1cm;
  border: 1pt solid #CCC;

  .service {
    margin-bottom: 1.4cm;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__description {
      font-family: Arial, Helvetica, sans-serif;
      overflow-x: auto;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      max-width: 100%;
      margin: 0 1.4pt 0.2pt 0;
    }
  
    &__price {
      font-weight: bold;
      font-size: 18pt;
      flex-shrink: 0;
    }
  }

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: block;
    width: 6cm;
  }

  &__info {
    text-align: right;
  }

  &__title {
    font-size: 18pt;
    text-transform: uppercase;
  }
}

.content {
  margin: 2cm 0;

  &__client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1cm;
  }

  &__clientName {
    font-size: 18pt;
    font-weight: bold;
  }

  &__due {
    font-size: 12pt;
    color: red;
    font-weight: normal;
  }
}

.form {
  position: absolute;
  top: 4vh;
  left: 2vw;
  width: 24vw;
  padding: 0.5cm;

  h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14pt;
  }

  label {
    display: block;
    margin-bottom: 0.5cm;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 12pt;
    padding: 0.2cm;
    border-radius: 0.1cm;
    border: 1px solid $gray;
  }

  textarea {
    height: 5cm;
    resize: none;
  }

  &__separator {
    display: block;
    border-bottom: 1pt solid $gray;
    margin: 0.5cm 0;
  }

  button {
    display: block;
    width: 100%;
    height: 1cm;
    margin-bottom: 0.5cm;
    font-family: $default-font;
    text-transform: uppercase;
    background: $primary;
    border: 0;
    color: $white;
    cursor: pointer;
    border-radius: 0.1cm;

    &.main-action {
      height: 1.4cm;
      background-color: $green;
    }
  }
}

.footer {
  font-weight: bold;
  text-align: center;
}

@page { margin: 0; }

@media print {
  @page { margin: 0; }
  .no-print {
    display: none;
  }
  #source {
    border:0;
    padding:0;
    margin: 1.6cm;
    top: initial;
    left: initial;
    width: auto;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1.6cm;
  }
}
