// Colors
$black: #585858;
$gray: #7c7c7c;
$silver: #eee;
$white: #fff;

$blue: #4580df;
$primary: $blue;

// Helpers
$default-transition: all 300ms ease-in-out;

// Fonts
$default-font: Arial, Helvetica, sans-serif;
$exo: $default-font;

$light: 300;
$regular: 500;
$bold: 700;

// Screen sizes
$size-notebook: 1440px;
$size-tablet: 1024px;
$size-mobile: 768px;
